body {
    background-color: pink;
}
.box {
    background-color: red;
    width: 400px;
    margin: auto;
    height: 210px;
}
header {
    background-color: red;
    height: 60px;
}
.box2 {
    color: white;
    margin-left: 155px;
}
p {
    margin-left: 20px;
}
.box3 {
    background-color: white;
    width: 396px;
    height: 132px;
    margin-left: 2px;

}
